@media (min-width: 1366px) {
    .teamcord {
      position: absolute;
      top: 120%; right: 10%;
    }
     .divcard {
       position:absolute; 
       top:110%; right:40.5%
     }
     .copyright {
       position:absolute; 
       top:200%; right:36%
     }
     .copyright2 {
       position:absolute; 
       top:280%; right:36%
     }
     .copyright3 {
       position: absolute; 
       top:190%; right:36%
     }
     .cards2 {
       position: absolute; 
       top: 190%; right: 6%
     }
     .cards1 {
       position: absolute;
       right: 6%;
     }
     .cards {
       position: absolute; 
       top: 100%; right: 6%
     }
   }
   
   @media (min-width: 1920px) {
    /* Posizioni Immagini */
    .pos1img{max-width: 1800px; margin: 40px auto; position: absolute; top: 14%; left: 1%;}
    .pos1nom{position: absolute; top: 10%; left: 1%;}
    .pos1-1nom{position: absolute; top: 13%;left: 1%;}
    .pos2img{max-width: 1800px; margin: 40px auto; position: absolute; top: 14%; left: 35%}
    .pos2nom{position: absolute; top: 10%; left: 35%}
    .pos3img{max-width: 1800px; margin: 40px auto; position: absolute; top: 14%; left: 65%}
    .pos3nom{position: absolute; top: 10%; left: 65%}
    .pos4img{max-width: 1800px; margin: 40px auto; position: absolute; top: 61%; left: 1%}
    .pos4nom{position: absolute; top: 59%; left: 1%}
    .pos5img{max-width: 1800px; margin: 40px auto; position: absolute; top: 61%; left: 35%}
    .pos5nom{position: absolute; top: 59%; left: 35%}


    /* Posizioni Testo pagina informazioni*/
    .pos1info{position: absolute; top: 8%}
    .pos2info{position: absolute; top: 14%}
    .pos3info{position: absolute; top: 19%}
    .pos4info{position: absolute; top: 24%}
    .pos5info{position: absolute; top: 29%}
    .pos6info{position: absolute; top: 34%}
    .pos7info{position: absolute; top: 39%}
    .pos8info{position: absolute; top: 44%}
    .pos8info{position: absolute; top: 49%}
    .pos9info{position: absolute; top: 54%}
    .pos10info{position: absolute; top: 59%}
    .pos11info{position: absolute; top: 64%}
    .pos12info{position: absolute; top: 69%}

    /* Posizioni Testo pagina Principale*/
    .pos1princ{position: absolute; top: 9%}
    .pos2princ{position: absolute; top: 14%}
    .pos3princ{position: absolute; top: 22%}


    /* Posizioni Altri elementi */
    .copyright{position: absolute; top: 200%;left: 45%}}